// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

table {
  display: table;
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}