// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body , p {
  font-family: 'Kaushan', sans-serif;
}

body {
  margin: 33px;
}

p {
  position: relative;
  left: 30px;
}